<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href="style.css"> <!-- style refrence!-->
  <title>Jahmaro's Portfolio</title>
  <style>
    
  </style>
</head>
<body>
  <header>
    <h1>Jahmaro's Portfolio</h1>
	<!-- for buttons!-->
	<div class="header-buttons">
		<a href="index.html" class="button">Home</a>
		<a href="ForgottenKing.html" class="button">Forgotten King</a>
		<a href="Gor-3300k.html" class="button">Gor-3300k</a>
	  </div>
  </header>

  <main>
    <h2>Gor-3300k</h2>
    <p>This is a 4-bit mips processor I design that can run addition,subtraction, AND, OR, SLT, and LI instructions using 4 bit numbers.<br> 
        I created maps boolean tables to derive functions that would map 3 bits of instructions to their designated op codes. </p>

    <h2 id = "CPU-Video" > Demonstration</h2>
    <div class = "CPU-image>
    <image width =  60% height = "250" > 

    <img src="CPU.png" alt="CPU Image" class="pos1" >
    
    </div>
    
    <div class="Gor-3300k-Vid1">
		<video width="620" height="440" controls>
			<source src="CPU-Demonstration.mkv" type="video/mp4">
		  </video>	
	</div>



  </main>

 <!--  <footer>
    &copy; 2023 My Portfolio. All rights reserved.
  </footer>
  !-->
</body>
</html>
